* {
    margin: 0;
    padding: 0;
    font-family: "Azeret Mono", system-ui;
}


/* common shared style */

.common-description {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 26px;
}

.common-description2 {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    margin-top: 16px;
    margin-bottom: 30px;
}

.heading-title {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
    margin: 24px 0px;
}

/* nav style */

nav {
    display: flex;
    margin: 20px 160px;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: rgb(13, 19, 33);
    font-size: 30px;
    font-weight: 800;
}

.btn-primary {
    padding: 17px 24px 17px 24px;
    border-radius: 8px;
    color: rgb(13, 19, 33);
    cursor: pointer;
}

.contact-btn {
    border-radius: 8px;
    padding: 17px 24px 17px 24px;
    color: rgb(255, 255, 255);
    background: rgb(13, 19, 33);
    cursor: pointer;
}

/* banner-section style */

.banner {
    background-image: url('../images/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}

.banner-content {
    padding: 30px 220px;
}

.banner-title {
    color: rgb(13, 19, 33);
    font-size: 35px;
    font-weight: 800;
    text-align: center;
    margin: 60px 0px;
}

.banner .img-code {
    display: flex;
    justify-content: center;
    margin: 40px 0px;
}

.banner .btn {
    text-align: center;
    margin: 40px;
}


/* main section style */

main {
    max-width: 1300px;
    width: 90%;
    margin: 0 auto;
}


/* why development section */

.why {
    /* margin: 75px 0px; */
    padding: 80px 110px;
}

.section-top {
    margin-bottom: 80px;
}

.first {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    margin-bottom: 80px;
}

.second {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    margin-bottom: 80px;
}

.third {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}

.why img {
    width: 90%;
}

.learn {
    /* color: rgb(13, 19, 33);
     */
    color: black;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    padding: 6px 10px;
}

button:hover {
    background-color: blueviolet;
    color: white;
}

/* inspiration section */

.inspiration {
    padding: 80px 110px;
}


.frame {
    margin-left: 180px;
    margin-top: 50px;
}

/* current target */

.current {
    padding: 80px 110px;
}

.skill-container {
    margin-top: 48px;
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.skill {
    padding: 40px;
    border-radius: 16px;
}

#html-skill {
    background: rgba(255, 76, 30, 0.05);
}

#css-skill {
    background: rgba(0, 76, 232, 0.05);
}

#js-skill {
    background: rgba(255, 223, 0, 0.05);
}

#skill-title {
    margin: 20px 0px;
}

#skill-content {
    margin-bottom: 20px;
}

/* next-skill section */

.next {
    padding: 80px 110px;
}

.next-skill-container {
    border: 1px solid black;
    display: flex;
    gap: 24px;
    padding: 40px;
    margin-top: 48px;
}

.next-skill-des {
    margin: 10px 0px;
}

/* handshake-section */

.handshake {
    padding: 80px 110px;
}

.handshake-content {
    background-image: url('../images/handshake.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 50vh;
    border-radius: 16px;

}

.handshake-mid {
    padding: 60px;
}

.handshake-title {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}

.handshake-des {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 30px;
}

.inputtxt {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 40px;
    width: 500px;
    border-radius: 8px;
}

.submit {
    padding: 18px;
    border-radius: 8px;
    font-weight: 700;
}

.input {
    margin-left: 100px;
    justify-content: center;
}

/* footer section */

footer {
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    padding: 80px 110px;
}

.footer-container {
    display: flex;
    gap: 100px;
    justify-content: space-around;
}

.icon {
    display: flex;
    gap: 30px;
}

/* Responsive */

.hide {
    display: none;
}

@media screen and (max-width:576px) {
    nav {
        margin: 0px;
        margin: 10px;
        padding: 10px;
        display: flex;
        gap: 20px;
    }

    .banner {
        background-image: none;
    }

    .banner-content {
        padding: 0;
        margin: 0px 20px;
    }

    .banner-title {
        font-size: 25px;
        font-weight: 900;
    }
    .btn-primary {
        padding: 10px;
        border-radius: 8px;
        color: rgb(13, 19, 33);
    }

    .contact-btn {
        border-radius: 8px;
        text-align: center;
    }

    .why {
        padding: 0px;
    }

    .first,
    .third {
        flex-direction: column;
    }

    .second {
        flex-direction: column-reverse;
    }
    .inspiration {
        padding: 0px;
    }
    .frame {
        position: relative;
        width: 100%;
        margin-left: 0px;
        padding-bottom: 75%; 
    }

    .frame iframe {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .current{
        padding: 0px;
    }
    .skill-container{
        flex-direction: column;
    }
    .next{
        padding: 0px;
    }
    .next-skill-container, .footer-container{
        flex-direction: column;
    }
    .handshake{
        padding: 0px;
    }
    .input{
        margin-left: 0px;
    }
    .inputtxt{
        width: 200px;
        padding: 20px;
        margin-bottom: 18px;
    }
    footer{
        padding: 80px 50px;
        margin-left: 20px;        
    }
}